
.App {
  background-color: #f5f5f5;
}

.navbar-top {
  background-color: #EB8258;
}

#companylogo{
  height: 700px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth-form-container {
  padding-top: 40px;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
}



.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #EB8258;
  
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.btn.btn-primary {
  background-color: #502419

}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}